# Virtual environment
venv/
.env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE/project files
.vscode/
.idea/

# Environment variables file
.env

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Coverage / test reports
htmlcov/
.coverage
.tox/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints
